.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 25px;
	margin-left: 25%;
	margin-right: 25%;
	.profile__text {
		margin-top: 15px;
		font-size: 45px;
		font-weight: bold;
	}
	.avatar {
		display: flex;
		margin-top: 15px;
		margin-bottom: 15px;
		.avatar__png {
			height: 200px;
			width: 200px;
			border: 2px solid black;
			margin-left: 10px;
			margin-right: 10px;
		}
		.avatar__not-png {
			display: flex;
			height: 200px;
			width: 200px;
			border: 2px solid black;
			align-items: center;
			justify-content: center;
			background: rgba(239, 239, 250, 0.767);
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	.profile__input {
		width: 100%;
		margin-bottom: 15px;
	}
	.profile__input-confirm {
		width: 100%;
		margin-bottom: 15px;
	}
	.profile__button-update {
		margin-top: 15px;
	}
}
