.class__block {
	display: flex;
	justify-content: flex-end;
	margin-right: 70px;
	width: 100%;
	.class__input {
		height: 38px;
		padding: 10px;
		font-size: 20px;
	}
	.class__word {
		font-size: 25px;
	}
}
