.Page__Mainblock {
    width: 50%;
    .Page__Name {
        height: 10%;
        width: 100%;
        background-color: rgb(247, 249, 250);
        box-shadow: 0 2px 8px 0px rgba(196, 196, 196, 0.76);
        margin-bottom: 7px;
        .Page__NameText {
            padding-top: 20px;
            padding-bottom: 25px;
            margin-left: 15px;
            display: inline-block;
            font-weight: bold;
            font-size: 28px;
        }
        .Page__icons {
            float: right;
            margin-right: 25px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .Page__Dialogs {
        height: 79%;
        background-color: rgb(245, 247, 255);
    }
    .Page__Text {
        height: 10%;
        background-color: rgb(224, 223, 223);
        .Page__Input {
            float: left;
            outline: none;
            border: none;
            padding: 25px;
            width: 50%;
            margin-left: 5px;
            color: rgb(112, 112, 112);
            background-color: rgb(224, 223, 223);
            font-size: 20px;
        }
        .Page__Icons {
            float: right;
        }
    }
}