.form {
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: fixed;
	background-color: rgba(170, 217, 255, 0.61);
	height: 30%;
	width: 100%;
	.form__block {
		display: flex;
		width: 30%;
		.answer {
			.answer__text {
				font-size: 25px;
			}
			.answer__textarea {
				font-size: 25px;
				width: 350px;
			}
		}
	}

	.option {
		display: flex;
		width: 40%;
		.option__text {
			font-size: 25px;
		}
		.option__select {
			height: 50px;
			width: 300px;
			font-size: 25px;
		}
		.option__button {
			padding: 20px;
			margin-top: 15px;
			margin-left: 25px;
			border-radius: 15px;
			font-size: 25px;
		}
	}
}
