.auth {
	display: flex;
	height: calc(90vh - 0px);
	align-items: center;
	justify-content: center;
	.auth__text {
		font-size: 45px;
		font-weight: bold;
		margin-bottom: 25px;
	}
	.auth__input {
		display: flex;
		width: 100%;
		margin-top: 5px;
		background-color: rgb(212, 255, 241);
		border-radius: 15px;
		font-size: 25px;
	}
	.auth__label {
		font-size: 25px;
	}
	.auth__button-flex {
		display: flex;
		justify-content: center;
		.auth__button {
			width: 100%;
			background-color: aquamarine;
			font-size: 25px;
			margin-top: 15px;
			margin-bottom: 15px;
			border-radius: 15px;
			padding: 10px;
		}
	}
	.auth__container-net {
		display: flex;
		justify-content: space-between;
		.auth__center {
			display: flex;
			flex-direction: column;
			justify-content: center;
			.auth__button-vk {
				background-color: rgb(36, 240, 255);
				font-size: 20px;
				margin-top: 15px;
				padding: 5px;
				border-radius: 5px;
			}
			.auth__button-google {
				background-color: rgb(255, 202, 152);
				font-size: 20px;
				margin-top: 15px;
				padding: 5px;
				border-radius: 5px;
			}
		}
	}
	.auth__container {
		display: flex;
		justify-content: space-between;
		.auth__button-registration {
			background-color: rgb(127, 255, 138);
			font-size: 20px;
			margin-top: 15px;
			padding: 5px;
			border-radius: 5px;
		}
		.auth__button-forgotPass {
			background-color: rgb(253, 255, 135);
			font-size: 20px;
			margin-top: 15px;
			margin-left: 5px;
			padding: 5px;
			border-radius: 5px;
		}
	}
}
