.ImCross {
    height: 15px;
    width: 15px;
    color: rgb(114, 119, 122);
}

.FaPhotoVideo {
    height: 50px;
    width: 50px;
    color: lightblue;
    border: 2px solid lightcyan;
    border-radius: 50%;
}