.Navbar__User {
	display: flex;
	justify-content: flex-start;
	flex-direction: row-reverse;
	align-items: center;
	height: 100px;
	background-color: rgb(219, 219, 219);
	box-shadow: 4px 2px 8px 0px rgb(206, 255, 251);

	.OperatorButton {
		margin-left: 15px;
		margin-right: 15px;
		border-radius: 15px;
		font-size: 25px;
		height: 50px;
		width: 120px;
	}

	.OperatorName {
		font-size: 35px;
	}
}
