.FaSearch {
    height: 25px;
    width: 40px;
    color: rgb(218, 240, 255);
}

.FaPlusCircle {
    height: 28px;
    width: 28px;
    color: white;
}

.FaEllipsisV {
    height: 28px;
    width: 28px;
    color: white;
}

.GiBackwardTime {
    height: 30px;
    width: 30px;
    color: lightblue;
}

.FaUserFriends {
    height: 30px;
    width: 30px;
    color: lightblue;
}

.ImAddressBook {
    height: 30px;
    width: 30px;
    color: lightblue;
}

.FaBox {
    height: 30px;
    width: 30px;
    color: lightblue;
}