.form {
	display: flex;
	height: calc(90vh - 0px);
	align-items: center;
	justify-content: center;
	.form__label-pass {
		font-size: 45px;
		font-weight: bold;
		margin-bottom: 25px;
	}
	.form__label {
		font-size: 25px;
	}
	.form__input {
		display: flex;
		margin-top: 5px;
		background-color: rgb(212, 255, 241);
		border-radius: 5px;
		width: 100%;
		font-size: 25px;
	}
	.form__button-recovery {
		display: flex;
		justify-content: flex-end;
		padding: 5px;
		font-size: 20px;
		margin-top: 55%;
		margin-bottom: 10%;
		border-radius: 5px;
		background-color: rgb(242, 255, 127);
	}
	.form__container {
		display: flex;
		justify-content: space-between;
		.form__button-sign {
			background-color: rgb(127, 255, 138);
			font-size: 20px;
			margin-top: 15px;
			padding: 5px;
			border-radius: 5px;
		}
		.form__button-registration {
			background-color: rgb(127, 255, 138);
			font-size: 20px;
			margin-top: 15px;
			padding: 5px;
			border-radius: 5px;
		}
	}
}
