.Auth {
    display: flex;
    height: calc(100vh - 0px);
    align-items: center;
    justify-content: center;
    .Auth__input {
        display: flex;
        margin-top: 5px;
        background-color: rgb(212, 255, 241);
        border-radius: 15px;
        font-size: 25px;
    }
    .Auth__label {
        font-size: 25px;
    }
    .Auth__button {
        background-color: aquamarine;
        float: right;
        font-size: 25px;
        margin-top: 5px;
        border-radius: 15px;
        padding: 15px;
    }
}